* {
    /*altera a propriedade padrão do box model: a altura e largura incluem padding e
    border, mas não inclui margin*/
    box-sizing: border-box;
}

@font-face {
    font-family:'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[wm-flappy] {
    /*position: método de posicionamento para esse elemento. 
    relative: deslocar um elemento a partir de sua posição inicial*/
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px; /*espaçamento em todos os lados*/
    background-color: deepskyblue;
    overflow: hidden; /*qualquer item fora da div será escondido*/
}

.bird {
    /*método de posicionamento para esse elemento
    absolute:posicione elemento exatamente onde quiser. Posição será definida em relação ao próximo elemento pai que esteja posicionado relativamente ou absolutamente.*/
    position: absolute;
    width: 60px;
    left: calc(50% - 30px); /*50% é o meio da tela, subtraido pelo 30px da largura do pássaro. Extamente no meio*/
}

.pair-of-barriers {
    position: absolute;
    top: 0; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* espaço entre as column */
}

.barrier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barrier .border {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 2px solid #000;
}

.barrier .body {
    height: 150px;
    width: 110px; 
    background: linear-gradient(90deg, #639301, #a5e82e) ;    
    border-left: 2px solid #000; 
    border-right: 2px solid #000;
}

.progress {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}