<div class="home">
    <mat-list>

        <h3 mat-subheader>Professores</h3>
        <mat-list-item>
            <mat-icon mat-list-icon>people</mat-icon>
            <h4 mat-line>Quantidade</h4>
            <p mat-line>
                <mat-spinner *ngIf="!(qtyTeacher$ | async)" diameter="50"></mat-spinner>
                {{qtyTeacher$ | async}}
            </p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <h3 mat-subheader>Alunos</h3>
        <mat-list-item>
            <mat-icon mat-list-icon>people</mat-icon>
            <h4 mat-line>Quantidade</h4>
            <p mat-line>
                <mat-spinner *ngIf="!(qtyStudent$ | async)" diameter="50"></mat-spinner>
                {{qtyStudent$ | async}}
            </p>
        </mat-list-item>

    </mat-list>
</div>